.catalog-nav {
	&-inner {
		position: relative;
		margin-bottom: 2.25rem;
	}
	
	.nav-link[data-toggle="collapse"]{
		@include media-breakpoint-up(sm){
			.icon {
				display: block;
				@include absolute(top 0.5em left -1.5em);
				margin-left: 0;
			}
		}
	}
}

.catalog {
	&-wrapper {
		.block-title {
			margin-top: 0.5rem;
		}
		
		.sort-wrapper {
			margin-bottom: 1rem;
			
			.block-title {
				margin-bottom: 0.5rem;
			}
		}
	}
}